.wraper{
    width: 100%;
    position: relative;
    background-image: url('../assets/bgimg/bg3.jpg');
    background-size: cover;
    height: 30vh;
    position: relative;


}
.contentContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.471);
}
.titelHome{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.titelHome:hover{
    color: rgb(255, 230, 0);
}

@media(min-width:768px){
    .wraper{
        height: 60vh;
    }
}