.footerContainer{
    background-color: #0072bb;
    font-family: 'Roboto';
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
}
.navlink{
    text-decoration: none;
    color: #fff;

}
.navlink:hover{
    text-decoration: underline;
    color: #ffd900;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #111111;
    color: #fff;
    text-align: center;
}

.gototopBtn{
    position: fixed;
    right: 4%;
    bottom: 7%;
    background-color: #efcb29;
    border: none;
    animation-name: scrollAnimation;
    animation-timing-function:linear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes scrollAnimation {
    0%   { bottom: 0%;}
    50%  { bottom:3%;}
    100% { bottom: 7%}
  }