
*{
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
}
.app{
  font-family: "Muli";
  color: #595959;
  background-color: #fff;
  font-size: 16px;
  font-size: 1.0666666667rem;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .app {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2A9BC4;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
h6{
  color: #122e74;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

/* global colors */
.blue-background{
  background-color: #3d3177;
  color: #fff!important;
}
.blue-text{
  color: #2A9BC4;
}
/* header section */
.contact-at-header{
  background-color: #313131;
}
/* .navbar{
  background-color: #f0542d;
  
  } */
  .btn-at-header{
    background-color: #f0542d;
    color: #fff;
  }
  .logo-text{
    color: rgb(255, 166, 0);
    margin-left: 3px;
    text-decoration: none;
    font-weight: bolder;
    text-decoration: none;
  }
  .menu-item{
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: large;
    color: #fff;
  }
  .sub-menu{
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: large;
    color: black;
  }
  .menu-item:hover,.sub-menu:hover{
    color: rgb(15, 238, 15);
  }
  .active-menu-item{
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: large;
    color: rgb(15, 238, 15);
  }
  .dropdown-menue{
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: large;
    color: #fff;
    position: relative;
  }
  .dropdown-item-container{
    display: none;
    background-color: #FFF;
    color: black;
    padding: 5px 15px 5px 10px;
    border-radius: 0.5rem;
  }
  .dropdown-menue:hover .dropdown-item-container{
    display: block;
    position: absolute;
    top: 5;
  }
 /* company info big text */
 .big-text{
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Jost", sans-serif;
 }
@media(max-width:768px){
  .big-text{
    font-size: 2rem;
  }
}
  /* home page section */
  
  .home-page-container{
    max-width: 100%;
    background-image: url('./assets/home/home4.png');
    background-size: cover;
    background-attachment: fixed;
    
  }
  .contactus-btn-at-home{
    background-color: #2A9BC4;
    color: #fff;
    border: none;
    border-radius: 1rem;
  }
  .contactus-btn-at-home:hover{
    background-color: #313131;
    color: #fff;
  }
  .about-home-image{
    height: 30rem;
  }
  
  .about-home-image img{
    height: 100%;
  }
  .video-iconat-home{
    background-color: #f0542d;
    position: absolute;
    top: 50%;
    left: 45%;
    border: none;
  }
  .vedio-ifrem-contaner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #313131;;
  }
  .close-video-icon{
    background-color: #f0542d;
  }
  @media(max-width:768px){
    .about-home-image{
      height: 19.5rem;
    }
    .about-home-image img{
      height: 100%;
    }
    .video-iconat-home{
      position: absolute;
      top: 75%;
      left: 40%;
    }
  }
  .why-choose-us{
    background-color: #f1f2f4;
  }
  .dark-blue-text{
    color: #010648;
  }

  /* testimonial section */
  .testimonial-container{
    max-width: 100%;
  }
  .testimonial-title,.red-text{
    color: #f0542d;
  }
  /* our blog at home */
  .ourblog-conaner-athome{
    max-width: 100%;
    background-image: url('../src/assets/blog/bg.png');
    background-color: #f7f7fc;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  /* contact page */
  .contact-form{
    margin-top: 5%;
    margin-right:5%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  @media(min-width:768px){
    .contact-form{
      width: 75%;
      margin: 6rem auto;
      border: 0.1rem solid rgb(179, 179, 183);
      border-radius: 2rem;
      box-shadow: #122e74;
      padding: 5rem;
    }
  }
  .submit-btn{
    background-color: #2A9BC4;
    color: #fff;
  }
  .submit-btn:hover{
    background-color: #313131;
    color: #fff;
  }
  .red-border{
    border-color: red;
  }
  .red-text{
    color: red;
  }
  /* vacancy section */
  .step{
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid #010648;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;

  }
  .step.completed{
    background-color: #010648;
    color: white;
  }
  .confirmation-message{
    height: 25vh;
    margin: 5% 3%;

  }
  @media(min-width:768px){
  .vacancy-parent-wraper{
    width: 75%;
    margin: auto;
    border: 1px solid rgb(239, 234, 234);
    border-radius: 1rem;
  }
  .multi-step-progress{
    width: 75%;
    margin: auto;
  }
  
  .confirmation-message{
    width: 50%;
    height: 70vh;
    margin: 5% auto;
  }
}
  .next-btn{
    background-color: #2A9BC4;
    color: #fff;
    border: none;
    border-radius: .5rem;
  }
  .next-btn:hover{
    background-color: #122e74;
  }
  .back-btn{
    background:none;
    color: black;
    border: 1px solid gray;
    border-radius: .5rem;
  }
  .back-btn:hover{
   background-color: #122e74;
   color: #fff;
  }